# =============================
# CCS Student Management System
# =============================

# Email config
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
# For production use smtp:
# EMAIL_BACKEND="django.core.mail.backends.smtp.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_FROM_ADDRESS="CCS SMS <info@ccstz.org>"
EMAIL_HOST_USER="info@ccstz.org"
EMAIL_HOST_PASSWORD="<your email password>"

# =============================
# Other
DEBUG=True
SECRET_KEY="<your_secret_key>"

# Student/Teacher ID prefixes
STUDENT_ID_PREFIX="CCS"
LECTURER_ID_PREFIX="TCH"

# Stripe (optional)
STRIPE_SECRET_KEY=""
STRIPE_PUBLISHABLE_KEY=""
